name: Build RiseKaptan

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build with Maven
        run: mvn -DskipTests clean package

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: RiseKaptan-jar
          path: target/RiseKaptan.jar
